<%- include('../views/partials/_head.ejs'); %>
<%- include('../views/partials/_navbar.ejs'); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>The current stylesheet is <%= css %>.css</p>
    <img src="/img/frenchie.jpg" alt="French Bulldog Puppy" />

<%- include('../views/partials/_footer.ejs'); %>
<%- include('../views/partials/_scripts.ejs'); %>
